@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
@if (SignInManager.IsSignedIn(User))
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Garages" asp-action="Index">Garages</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Tools" asp-action="Index">Tools</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="ToolKeywords" asp-action="Index">Keywords</a>
	</li>
}

